{
    "plugins": [
      "transform-es2015-modules-commonjs",
      "transform-object-assign",
      "transform-proto-to-assign",
      [
        "transform-es2015-classes",
        {
          "loose": true
        }
      ]
    ],
    "presets": [
      "es2015"
    ]
}